@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

* {
  padding: 0;
  margin: 0; }

body {
  overflow: hidden;
  font-family: Noto Sans TC, serif; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 20px; }

/*    插入背景圖片    */
.p01 {
  height: 100vh;
  position: relative; }

.bg-main {
  background: -o-radial-gradient(50% 50%, 64.25% 64.25%, #010b63 0.03%, #01033d 59.94%, #020128 100%);
  background: radial-gradient(64.25% 64.25% at 50% 50%, #010b63 0.03%, #01033d 59.94%, #020128 100%);
  width: 100%;
  height: 100vh;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0; }

.neno-txt {
  color: #070941;
  -webkit-text-stroke: 2px #eefbff;
  text-shadow: 0 0px 5px #fff, 0 0px 8px #eefbff;
  font-family: 'Kosugi Maru'; }

.neno-svg {
  position: relative; }

.neno-svg-light {
  position: absolute;
  top: -3px;
  left: -3px;
  opacity: 0;
  -webkit-animation-name: nenoLight;
          animation-name: nenoLight;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  z-index: 1; }

@-webkit-keyframes nenoLight {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

@keyframes nenoLight {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

.neno-svg-default {
  position: absolute;
  top: 0px;
  left: 0; }

.p02 {
  background-image: url(https://placeimg.com/1000/1000/arch);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; }

.p03 {
  background-image: url(https://placeimg.com/1000/1000/nature);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; }

.p04 {
  background-image: url(https://placeimg.com/1000/1000/people);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; }

.p05 {
  background-image: url(https://placeimg.com/1000/1000/tech);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; }

/*    插入導覽列     */
.nav {
  position: fixed;
  top: 50%;
  right: 0px;
  cursor: pointer;
  display: none; }

li {
  width: 10px;
  height: 10px;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5) inset, -1px -1px 1px rgba(0, 0, 0, 0.5) inset;
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5) inset, -1px -1px 1px rgba(0, 0, 0, 0.5) inset;
  list-style-type: none; }

h1 {
  font-size: 60px;
  color: ghostwhite; }

/*# sourceMappingURL=all.css.map */
